body {
 font-family: Arial, Helvetica, sans-serif;
}
.main {
    margin-top: 25px;
}
.nav-bar {
    display: flex;
    justify-content: space-between;
}
.nav-left {
    display: flex;
    flex-basis: 45%;
    justify-content: space-between;
}
.search {
    display: flex;
    flex-basis: 70%;
    justify-content: center;
    border: solid 1.2px rgba(123, 129, 134, 0.25);
    border-radius: 30px;
    margin-left: 30px;
    padding-left: 15px;
    padding-right: 5px;
    margin-right: 10px;
    
}
button {
    background-color: #4285f4;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
.search-box {
    border: 0;
    flex-basis: 80%;
    outline: none;
}
.search-box-icons {
    display: flex;
    align-items: center;
    width: 45px;
    justify-content: space-between;
}
.mic, .search-icon{
    width:25px;
    height:25px;
}

.fa-search {
    color: #4285f4;
}

.nav-right {
    display: flex;
    justify-content: flex-end;
    flex-basis: 40%;
}

.right-icons {
    display: flex;
    justify-content: space-between;
    flex-basis: 30%;
    align-items: center;
}

.fa-th, .fa-bell, button {
    margin-right: 5px;
}

.nav-two {
    height: 44px;
    align-items: flex-end;
    /* border-bottom: solid 1px; */
    border-bottom: solid 1.2px rgba(123, 129, 134, 0.25);
    padding-bottom: 4px;
    display: flex;
}

.nav-two-left {
    display: flex;
    flex-basis: 45%;
    justify-content: space-between;
}

.nav-two-blank {
    display: block;
    width: 150px;
    position: relative;
}

.nav-two-items {
    display: flex;
    flex-basis: 75%;
    justify-content: space-between;
    font-size: 14px;
}

.nav-two-items-left{
    display: flex;
    flex-basis: 60%;
    justify-content: space-around;
}

.nav-two-items-right {
    display: flex;
    justify-content: space-around;
    flex-basis: 25%;
}

.nav-two-right {
    display: flex;
    flex-basis: 55%;
}