.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  margin: 0;
}
p {
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
}
* {
  -webkit-user-select: none;
  user-select: none;

  -moz-osk-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
}